block variable
    -var path = '';
    -var pathTest = '';
    -var classScroll = 'main_scroll';
    -var pageScroll = false;


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href=path +"css/swiper-bundle.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/aos.css")
        //- link(rel="stylesheet", type="text/css", href=path +"css/fancybox.min.css")

        if pageScroll
            link(rel="stylesheet", type="text/css", href=path +"css/onepage-scroll.css")

        link(rel="stylesheet", type="text/css", href=path +"css/style.css")
        //- link(rel="stylesheet", type="text/css", href=path +"css/onepage-scroll.css")

    body
        .wrapper#wrapper
            include header.pug

            main.main_content(class=classScroll)
                block content


            if pageScroll
                .toTop.toTopSlide-js
                    a(href="test") 
                        i.icon_to_Top
            else
                .toTop.toTop-js
                    a(href="test") 
                        i.icon_to_Top


            if !pageScroll
                include footer.pug



            script(src=path +"js/jquery.js")

            if pageScroll
                // start robot
                script(src=pathTest +"robot/scripts/three.js")
                script(type="module" src=pathTest +"robot/scripts/GLTFLoader.js")
                //- script(type="module" src=path +"robot/scripts/OrbitControls.js")
                script(type="module" src=pathTest +"robot/scripts/EffectComposer.js")
                script(type="module" src=pathTest +"robot/scripts/RenderPass.js")
                script(type="module" src=pathTest +"robot/scripts/UnrealBloomPass.js")
                script(type="module" src=pathTest +"robot/scripts/main.js")
                // end robot

                script(src=path +"js/jquery.onepage-scroll.min.js")
                script(src=path +"js/scroll.js")


            //- script(src=path +"js/modal.js")
            script(src=path +"js/swiper-bundle.min.js")
            script(src=path +"js/slider.js")

            script(src=path +"js/jquery.maskedinput.min.js")
            script(src=path +"js/aos.js")

            script(src=path +"js/jquery.event.move.js")
            //- script(src=path +"js/fancybox.min.js")
            //- script(src=path +"js/form.js")

            script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.4/lottie_svg.min.js")
            script(src="https://cdnjs.com/libraries/bodymovin")
            //- <script src="https://cdnjs.com/libraries/bodymovin" type="text/javascript"></script>



            script(src=path +"js/function.js")
