block variable
    -var path = '';
    -var classScroll = 'main_scroll';
    -var pageScroll = false;


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href=path +"css/swiper-bundle.min.css")
        //- link(rel="stylesheet", type="text/css", href=path +"css/aos.css")
        //- link(rel="stylesheet", type="text/css", href=path +"css/fancybox.min.css")

        link(rel="stylesheet", type="text/css", href=path +"css/style.css")
        link(rel="stylesheet", type="text/css", href=path +"css/onepage-scroll.css")
    body
        .wrapper
            include header.pug

            main.main_content(class=classScroll)
                block content

            if !pageScroll
                include footer.pug



            script(src=path +"js/jquery.js")
            script(src=path +"js/jquery.onepage-scroll.min.js")
            //- script(src=path +"js/modal.js")
            script(src=path +"js/swiper-bundle.min.js")
            script(src=path +"js/slider.js")

            script(src=path +"js/jquery.maskedinput.min.js")
            //- script(src=path +"js/aos.js")
            //- script(src=path +"js/fancybox.min.js")
            //- script(src=path +"js/form.js")

            script(src=path +"js/function.js")
